.admin {
    width: 250px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.users-input{
    width: 10em;
}

.w-90 {
    width: 90%;
}
.w-80 {
    width: 80%;
}
.w-70 {
    width: 70%;
}