.admin {
    width: 250px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.pages-input{
    width: 10em;
}

.w-90 {
    width: 90%;
}
.w-80 {
    width: 80%;
}
.w-70 {
    width: 70%;
}

.menu-selector{
    margin: 10px;
    cursor: pointer;

}

.pages-borderless{
    border: 0;
    box-shadow: none;
}
.menu-list-item {

}

